<h1>Show Runner</h1>

<table style="width:100%">

  <tr>
    <th>Runner Name</th>
    <th>Time</th>
  </tr>
  <%= for runner <- Enum.sort_by(@runners, fn t -> t.time end) do %>

    <tr>
      <td>
        <%= runner.name %>
      </td>

      <td>
        <%= runner.time %>
      </td>
    </tr>

  <% end %>

</table>
