<h1>Speedrun Leaderboard</h1>

<table style="width:100%">

  <tr>
    <th>Rank</th>
    <th>Runner Name</th>
    <th>Time</th>
  </tr>
  <%= for {runner, index} <- Enum.with_index(Enum.sort_by(@cookie_runners, fn t -> t.time end)) do %>

    <tr>
      <td>
        <%= index + 1 %>
      </td>

      <td>
        <%= runner.name %>
      </td>

      <td>
        <%=
         Time.to_string(runner.time)
         |> String.slice(3..-1)
        %>
      </td>
    </tr>

  <% end %>

</table>
