<h1>New Cookie runner</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.cookie_runner_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.cookie_runner_path(@conn, :index) %></span>
